{% extends "base.html" %}

{% block content %}

<div class="property gray-bg" style="padding: 2%; background-color: #e6dfdf;">
	<div style="width: 90%; margin: auto;">
    <div class="row">
      <div class="col-lg-6 col-sm-6 text-center">
        <img src="/static/img/about.jpg" alt="" style="height:400px; width:500px">
      </div>
      <div class="col-lg-6 col-sm-6">
        <h3>
          About Mobile Mart
        </h3>
        <hr>
        <p>Mobile Mart is a popular and largest online mobile store in India. It is headquartered in Mumbai, Maharashtra. Since founded in 2007, till now, Mobile Mart is the best online mobile store for buying mobile phone at lowest prices. At Mobile Mart, we promise the fastest delivery and authentic products. With a wide range of gadgets available in the market, it often gets confusing to differentiate one product from its competitor or to choose one that best meets your requirements. This is where Mobile Mart steps in. At Mobile Mart, we take pride in helping you buy. It is our constant endeavour to understand your needs and to help you find the product best suited for You! Because, a purchase is just the first step to a relationship that will last for years to come.</p>
        <hr>
      </div>
    </div>
  	</div>
</div>

{% endblock %}