{% extends "base.html" %}

{% block content %}
<div class="slideshow-container" style="padding-top: 1%;">

	<!-- Full-width images with number and caption text -->
	<div class="mySlides fade">
		<div class="numbertext">1 / 4</div>
		<img src="/static/img/b1.jpg" style="width:100%">
	</div>

	<div class="mySlides fade">
		<div class="numbertext">2 / 4</div>
		<img src="/static/img/b2.jpg" style="width:100%">
	</div>

	<div class="mySlides fade">
		<div class="numbertext">3 / 4</div>
		<img src="/static/img/b3.jpg" style="width:100%">
	</div>

	<div class="mySlides fade">
		<div class="numbertext">4 / 4</div>
		<img src="/static/img/b4.jpg" style="width:100%">
	</div>

</div>
<br>

<!-- The dots/circles -->
      <!-- background-repeat: no-repeat;
      	background-size: cover; -->

<div class="row mar-b-30" style="background-color: #e6dfdf;">

		<div class="col-md-12">
			<div class="row text-center"><h4><strong>Welcome to Mobile Mart</strong></h4></div>

		<div class="row">
			<div class="col-md-4 col-sm-4 text-center wow fadeInUp">
				<div class="feature-box-heading">
					<em>
						<img src="/staticfiles/img/og.jpg" alt="" style="width:350px; height:180px;">

					</em>
					<h5>
						<b>100% ORIGINAL</b>
					</h5>
				</div>
				<p class="text-center">
					All products are original and go through strict quality check.
				</p>
			</div>
			<div class="col-md-4 col-sm-4 text-center wow fadeInUp">
				<div class="feature-box-heading">
					<em>
						<img src="/staticfiles/img/sot.png" alt="" style="width:350px; height:180px;">
					</em>
					<h5>
						<b>Seal of Trust</b>
					</h5>
				</div>
				<p class="text-center">
					Our seal of Trust comes with all our products
				</p>
			</div>
			<div class="col-md-4 col-sm-4 text-center wow fadeInUp">
				<div class="feature-box-heading">
					<em>
						<img src="/staticfiles/img/ship.jpg" alt="" style="width:350px; height:180px;">
					</em>
					<h5>
						<b>SHIPPING</b>
					</h5>
				</div>
				<p class="text-center">
					Shipping in India is free. Shipping charges applicable for International locations.
				</p>
			</div>
		</div>

		<!--feature end-->
	</div>
</div>

<div class="property gray-bg">
	<div style="width: 90%; margin: auto;">
    <div class="row">
      <div class="col-lg-6 col-sm-6 text-center">
        <img src="/staticfiles/img/about.jpg" alt="" style="height:400px; width:500px">
      </div>
      <div class="col-lg-6 col-sm-6">
        <h3>
          About Mobile Mart
        </h3>
        <hr>
        <p>Mobile Mart is a popular and largest online mobile store in India. It is headquartered in Mumbai, Maharashtra. Since founded in 2007, till now, Mobile Mart is the best online mobile store for buying mobile phone at lowest prices. At Mobile Mart, we promise the fastest delivery and authentic products. With a wide range of gadgets available in the market, it often gets confusing to differentiate one product from its competitor or to choose one that best meets your requirements. This is where Mobile Mart steps in. At Mobile Mart, we take pride in helping you buy. It is our constant endeavour to understand your needs and to help you find the product best suited for You! Because, a purchase is just the first step to a relationship that will last for years to come.</p>
        <hr>
      </div>
    </div>
  	</div>
</div>
{% endblock %}